@page
@model Twigaten.Web.firstModel
@using Twigaten.Web.Locale
@section Scripts
{
    <script>
        'use strict';
        (function () {
            window.addEventListener('load', () => {
                var frames = document.getElementById('animation-frames').getElementsByTagName('span');
                var frameIndex = 0;
                function nextFrame() {
                    frames[frameIndex].style.display = 'none';
                    frameIndex++;
                    if (frames.length <= frameIndex) { frameIndex = 0; }
                    frames[frameIndex].style.display = '';
                    setTimeout(nextFrame, 200);
                };
                nextFrame();
                location.href = '/auth/firstprocess';
            });
        })();
    </script>
}
@section MetaTags{
    <meta name="robots" content="noindex" />
}
@{
    ViewData["Title"] = Locale.Title_SignIn_Success;
}
<h2>@ViewData["Title"]</h2>
<div id="animation-frames">
    <span>(　　　)</span>
    <span style="display:none;">(`　　 )</span>
    <span style="display:none;">(･`　　)</span>
    <span style="display:none;">(ω･`　)</span>
    <span style="display:none;">(´･ω･`)</span>
    <span style="display:none;">( ´･ω･)</span>
    <span style="display:none;">(　´･ω)</span>
    <span style="display:none;">( 　 ´･)</span>
    <span style="display:none;">( 　　´)</span>
</div>
<p>
    <br />
    初回サインイン時の処理を行っています。<br />
    長時間かかる場合があります。<br />
    完了すると自動で移動します。<br />
    <br />
    Processing of first time of sign-in.<br />
    It may take a long time.<br />
    Please wait.
</p>
