@page
@model Twigaten.Web.AuthFirstModel
@using Twigaten.Web.Locale
@section Scripts
{
    <script async src="~/js/twigaten-auth-first.js" asp-append-version="true"></script>
    @*↓ページ移動後の動作を速くするためにここで読ませておく*@
    <partial name="TweetScript" />
    <partial name="DatePickerScript" />
}
@section MetaTags{
    <meta name="robots" content="noindex" />
}
@{
    ViewData["Title"] = Locale.Title_SignIn_Success;
}
<h2>@ViewData["Title"]</h2>
<div id="animation-frames">
    <span>(　　　)</span>
    <span class="is-hidden">(`　　 )</span>
    <span class="is-hidden">(･`　　)</span>
    <span class="is-hidden">(ω･`　)</span>
    <span class="is-hidden">(´･ω･`)</span>
    <span class="is-hidden">( ´･ω･)</span>
    <span class="is-hidden">(　´･ω)</span>
    <span class="is-hidden">( 　 ´･)</span>
    <span class="is-hidden">( 　　´)</span>
</div>
<p>
    <br />
    初回サインイン時の処理を行っています。<br />
    長時間かかる場合があります。<br />
    完了すると自動で移動します。<br />
    <br />
    Processing of first time of sign-in.<br />
    It may take a long time.<br />
    Please wait.
</p>
