@page
@using Microsoft.AspNetCore.Http;
@using Twigaten.Web.Locale;
@model Twigaten.Web.Pages.AboutModel
@{
    ViewData["Title"] = Locale.Title_About;
}
@section TwitterCard{
    <twitter-card-description />
    <twitter-card-image />
}
<h2>@(ViewBag.Title)</h2>
<h3>概要</h3>
<p>
    Twitter上の画像付きツイートを収集し、よく似た画像同士をまとめて表示します。<br />
    <span class="text-warning">
        1ツイートに複数の画像が含まれる場合は、1枚ずつ類似判定を行って別々に表示します。<br />
        また、よく似た画像が見つからなかったツイートは表示されません。
    </span><br />
    収集対象はこのサイトにサインインしたTwitterアカウントのタイムラインです。
</p>
<h3>検索機能</h3>
<p>
    右上の検索窓に、アカウント名(@@*****)または<br />
    ツイートのURL(https://twitter.com/****/status/****)を入力して検索できます。
</p>
<h3>人気のツイート</h3>
<p>
    類似画像が見つかったツイートを、お気に入り(いいねに改称)とリツイートの合計が大きい順に表示します。<br />
    対象は公開アカウントのみです。
</p>
<h3>タイムライン</h3>
<form action="/auth/login" method="post" class="is-flex">
    @Html.AntiForgeryToken()
    <a class="twigaten-a-submit"><small>サインインすると使用できます。</small></a>
</form>
<p>
    あなたのタイムラインから、類似画像が見つかったツイートを新しい順に表示します。<br />
    リツイートの表示/非表示の切替ができます。
</p>

<h3>非公開アカウントの表示</h3>
<p>
    サインインすると、あなたがフォローしている非公開アカウントのツイートが表示されるようになります。<br />
    あなた自身が非公開アカウントを所持している場合でもサインインが必要です。
</p>

<h3>ツイートの収集を停止する</h3>
<p>
    <a href="https://twitter.com/settings/connected_apps">https://twitter.com/settings/connected_apps</a><br />
    Twitterにログインした状態で↑のページを開いて「TwiGaTen」のアプリ連携を解除してください。<br />
    <br />
    あなたのアカウントから身に覚えのない投稿があった場合は、先に他の連携アプリを確認してください。<br />
    <b>TwiGaTenはツイートの投稿は一切行いません。</b><br />
    ↓こちらのページが参考になります。<br />
    <a href="https://blolook.osa-p.net/caution_twitter_apps.html">https://blolook.osa-p.net/caution_twitter_apps.html</a>
</p>

<h3>問い合わせ</h3>
<p>
    ┌（┌；・o・）┐・・・ <a href="https://twitter.com/204504bySE">@@204504bySE</a><br />
    リプライでもなんでも投げてください。<br /><br />
    Twitterアカウントがない場合等は<br />
    <a href="mailto:204504byse@204504byse.info">204504byse@204504byse.info</a><br />
    までメールでお問い合わせください。
</p>

<h3>プライバシーポリシー</h3>
<p>このサイトでは、以下の目的のためにCookieを使用しています。</p>
<ul class="simple">
    <li>Twitterアカウントによるログイン</li>
    <li>ツイート検索設定の保存</li>
</ul>

<h3>ソースコード</h3>
<p>
    <a href="https://github.com/204504bySE/twigaten">https://github.com/204504bySE/twigaten</a><br />
    ┌（┌ ＾o＾）＾o＾）┐動かして遊ぼう！(動くとは言ってない)
</p>

<h3>オープンソースライセンス</h3>
<ul class="simple">
    <li>
        CompressedStaticFiles
        <ul class="simple">
            <li><a href="https://github.com/AnderssonPeter/CompressedStaticFiles">https://github.com/AnderssonPeter/CompressedStaticFiles</a></li>
            <li>
                Apache License Version 2.0 <a href="https://www.apache.org/licenses/LICENSE-2.0">https://www.apache.org/licenses/LICENSE-2.0</a>
            </li>
        </ul>
    </li>
    <li>
        fast-blurhash
        <ul class="simple">
            <li><a href="https://github.com/mad-gooze/fast-blurhash">https://github.com/mad-gooze/fast-blurhash</a></li>
            <li>(ライセンス指定なし)</li>
        </ul>
    </li>
    <li>
        Font Awesome
        <ul class="simple">
            <li><a href="https://fontawesome.com/">https://fontawesome.com/</a></li>
            <li>CC BY 4.0 <a href="https://creativecommons.org/licenses/by/4.0/">https://creativecommons.org/licenses/by/4.0/</a></li>
            <li>TwiGaTenではアイコン(svgファイル)のみ使用しています</li>
            <li>アイコン以外のライセンスは異なります</li>
        </ul>
    </li>
    <li>
        ImageSharp
        <ul class="simple">
            <li><a href="https://sixlabors.com/products/imagesharp/">https://sixlabors.com/products/imagesharp/</a></li>
            <li>
                Apache License Version 2.0 <a href="https://www.apache.org/licenses/LICENSE-2.0">https://www.apache.org/licenses/LICENSE-2.0</a>
            </li>
        </ul>
    </li>
    <li>
        ZstdNet
        <ul class="simple">
            <li><a href="https://github.com/skbkontur/ZstdNet">https://github.com/skbkontur/ZstdNet</a></li>
            <li>The 3-Clause BSD License <a href="https://opensource.org/licenses/BSD-3-Clause">https://opensource.org/licenses/BSD-3-Clause</a></li>
        </ul>
    </li>
</ul>
<p>以下はMIT License <a href="http://opensource.org/licenses/mit-license.php">http://opensource.org/licenses/mit-license.php</a></p>
<ul class="simple">
    <li>
        blurhash.net
        <ul class="simple">
            <li>本家 <a href="https://github.com/MarkusPalcer/blurhash.net">https://github.com/MarkusPalcer/blurhash.net</a></li>
            <li>自前Fork版 <a href="https://github.com/204504bySE/blurhash.net">https://github.com/204504bySE/blurhash.net</a></li>
        </ul>
    </li>
    <li>
        Bulmaswatch
        <ul class="simple">
            <li><a href="https://jenil.github.io/bulmaswatch/">https://jenil.github.io/bulmaswatch/</a></li>
        </ul>
    </li>
    <li>
        CommandLineParser
        <ul class="simple">
            <li><a href="https://github.com/commandlineparser/commandline">https://github.com/commandlineparser/commandline</a></li>
        </ul>
    </li>
    <li>
        CoreTweet
        <ul class="simple">
            <li><a href="http://coretweet.github.io/">http://coretweet.github.io/</a></li>
            <li>日本語版wiki <a href="https://github.com/CoreTweet/CoreTweet/wiki/Home%28%E6%97%A5%E6%9C%AC%E8%AA%9E%29">https://github.com/CoreTweet/CoreTweet/wiki/Home(日本語)</a></li>
        </ul>
    </li>
    <li>
        flatpickr
        <ul class="simple">
            <li><a href="https://flatpickr.js.org/">https://flatpickr.js.org/</a></li>
        </ul>
    </li>
    <li>
        ini-parser
        <ul class="simple">
            <li><a href="https://github.com/rickyah/ini-parser">https://github.com/rickyah/ini-parser</a></li>
        </ul>
    </li>
    <li>
        JavaScript Cookie
        <ul class="simple">
            <li><a href="https://github.com/js-cookie/js-cookie">https://github.com/js-cookie/js-cookie</a></li>
        </ul>
    </li>
    <li>
        LazyLoad (vanilla-lazyload)
        <ul class="simple">
            <li><a href="https://www.andreaverlicchi.eu/lazyload/">https://www.andreaverlicchi.eu/lazyload/</a></li>
        </ul>
    </li>
    <li>
        MessagePack for C#
        <ul class="simple">
            <li><a href="https://github.com/neuecc/MessagePack-CSharp">https://github.com/neuecc/MessagePack-CSharp</a></li>
        </ul>
    </li>
    <li>
        MySqlConnector
        <ul class="simple">
            <li><a href="https://mysql-net.github.io/MySqlConnector/">https://mysql-net.github.io/MySqlConnector/</a></li>
        </ul>
    </li>
    <li>
        NModbus
        <ul class="simple">
            <li><a href="https://github.com/NModbus/NModbus">https://github.com/NModbus/NModbus</a></li>
        </ul>
    </li>
</ul>