@page
@using Microsoft.AspNetCore.Http;
@using Twigaten.Web.Locale;
@model Twigaten.Web.Pages.ErrorModel
@{
    ViewData["Title"] = Locale.Error_Title;
}
@section MetaTags{ 
    <meta name="robots" content="noindex" />
}
<h3>@ViewData["Title"]</h3>
<ul class="simple">
    <li>サインイン時にこの画面が出た場合は、もう一度サインインすると多分直ります。</li>
    <li>URLが壊れている(途中で切れているなど)</li>
    <li>サーバーの調子が悪い</li>
    <li>運が悪い</li>
    <li>(´・ω・`)</li>
</ul>
<ul class="simple">
    <li>Failed to sign in? Just try again should make success.</li>
    <li>Wrong URLs</li>
    <li>Server issues</li>
    <li>Just unlucky</li>
    <li>(´・ω・`)</li>
</ul>
<p><br /><a href="/" class="button is-light is-small">@Locale.Error_BackTop</a></p>
