@page
@using Microsoft.AspNetCore.Http;
@using Twigaten.Web.Locale;
@model Twigaten.Web.Pages.IndexModel
@{
    ViewData["Title"] = "Twitter上の類似画像/画像転載を見つけるやつ";
}
@section Scripts{
    <script async src="https://platform.twitter.com/widgets.js"></script>
}
@section MetaTags{
    <meta name="twitter:widgets:csp" content="on" />
}
@section TwitterCard{
    <twitter-card-description />
    <twitter-card-image />
}
<section class="hero is-light">
    <div class="hero-body">
        <h1 class="title">
            <ruby>
                <rb>TwiGaTen</rb>
                <rt>ツイ<small>ッター</small>画<small>像</small>転<small>載<del>奴～！</del></small></rt>
            </ruby>
        </h1>
        <p class="subtitle">類似画像/画像転載を見つけるやつ</p>
        <p><a href="/auth/login" class="button is-primary">@(Locale.Menu_Login) »</a></p>
    </div>
</section>
<tweet-intent />
<div>
    <p>3/15 古いツイートの強調表示を復活</p>
    <br />
    <p>└(└ ・o・)┘↓こういうのができたようです。ご活用下さい。</p>
    <blockquote class="twitter-tweet" data-lang="ja"><p lang="ja" dir="ltr">ツイートの共有メニューからTwiGaTenに飛ぶためのアプリを作ってみたよ&#13;&#13;&quot;Jump to TwiGaTen - Google Play の Android アプリ&quot; <a href="https://t.co/9ZUZppHQQN">https://t.co/9ZUZppHQQN</a></p>&mdash; 銀卿 (@@Ginkyo0523) <a href="https://twitter.com/Ginkyo0523/status/899956017424777217?ref_src=twsrc%5Etfw">2017年8月22日</a></blockquote>
</div>
<div>
    <h2>#とは</h2>
    <p>
        Twitter上の画像付きツイートを収集し、よく似た画像が含まれるツイートをまとめて表示します。<br />
        ユーザー名やツイートのURLで検索することもできます。<br />
        画像でも一応検索できます。
    </p>
    <p><a href="/search/" class="button is-success">ユーザー名/ツイートURL/画像で検索 »</a></p>
</div>
<div>
    <h2>#サインインすると</h2>
    <p>
        タイムライン上の画像付きツイートから、よく似た画像が存在するものを確認できます。<br />
        また、タイムライン上の画像付きツイートが収集されます。<br />
        収集対象のツイートが増え、検索のヒット率が向上します(たぶん)
    </p>
    <p><a href="/auth/login" class="button is-success">@(Locale.Menu_Login) »</a></p>
</div>
<div>
    <h2>#なお用途は</h2>
    <p>
        画像転載が発見できるかもしれないし、できないかもしれない。<br />
        もしかしたら画像転載の検索がこれ一本、とはまだ行かない。<br />
        あるいは思いもよらない用途があるかもしれない。
    </p>
</div>
<div>
    <h3>┌（┌ ＾o＾）┐</h3>
    <p>
        💨💨💨┌(┌；・o・)┐
    </p>
    <a href="/about" class="button is-success">┌(┌ ーoー)┐ »</a>
</div>

