body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "メイリオ", "Meiryo", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "Yu Gothic UI", "Osaka", sans-serif;
}

html, body {
    margin: 0px;
    padding: 0px;
}

.body-content {
    margin: 0 10px;
    word-wrap: break-word;
}

p{
    font-size: 0.85rem;
}

a {
    color: hsl(217, 71%, 53%);
}

iframe.twitter-share-button {
    vertical-align: text-bottom;
}

svg.twigaten-glyph, img.twigaten-glyph {
    width: 16px;
    height: 14px;
}

svg.fill-retweet {
    fill: #aab8c2;
}

svg.fill-retweet:hover {
    fill: #19cf86;
}

svg.fill-star {
    fill: #aab8c2;
}

svg.fill-star:hover {
    fill: #feac33;
}

.collapsing {
    -webkit-transition: none;
    transition: none;
}

.navbar-nav > li {
    float: left;
}

.pagination {
    margin: 0 0 20px 0;
    vertical-align: middle
}

h2, .h2 {
    font-size: 20px;
}

h3, .h3 {
    font-size: 20px;
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 520px) {
    h2, .h2 {
        font-size: 30px;
    }

    h3, .h3 {
        font-size: 24px;
    }

    .h1, .h2, .h3, h1, h2, h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }
}

a.anchor {
    display: block;
    position: relative;
    top: -150px;
    visibility: hidden;
}

div.twigaten-tweet-frame {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 4px 4px 0 4px;
    background-color: #eeeeee;
}

div.twigaten-tweet {
    display: inline-block;    
    vertical-align: top;
    width: 100%;
}

div.twigaten-tweet-main {
    background: #ffffff;
}

div.twigaten-media {
    float: left;
    margin: 4px;
}

@media (min-width:520px) {
    div.twigaten-tweet {
        width: 216px;
    }

    div.twigaten-media {
        float: none;
        text-align: center;
    }
}

img.twigaten-thumb {
    max-width: 150px;
    max-height: 150px;
}

img.twigaten-icon {
    max-width: 48px;
    max-height: 48px;
}

@media (min-width:520px) {
    img.twigaten-icon {
        float: left;
    }
}

img.twigaten-icon-retweet {
    float: left;
}

a.twigaten-google-image {
    display: inline;
    padding: 1px;
}

span.twigaten-twitterbird {
    float: right;
    margin-right: 1em;
    word-break: break-all;
}

p.twigaten-tweettext {
    display: inline-block;
    white-space: pre-line;
    width: 100%;
}

a.twigaten-screenname {
    word-break: break-all;
}
